header.masthead {
  position: relative;
  background-color: $gray-100;
  background: url('../img/linkedin_banner_image_1.png') no-repeat center center;
  @include background-cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  .overlay {
    position: absolute;
    background-color: #c9faff;
    background-image: linear-gradient(to right, #cdf7fb , white, white, #cdf7fb);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  h1 {
    font-size: 2rem;
    display:none;
  }
  @media (min-width: 768px) {
    padding-top: 12rem;
    padding-bottom: 12rem;
    h1 {
      font-size: 3rem;
    }
  }
}

.form-row{
  margin-top:-72px;
}