// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: 710px;
  -moz-background-size: 710px;
  -o-background-size: 710px;
  background-size: 710px;
}

// Font Mixins
@mixin body-font {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
